<launch>
  <arg name="ns" default="/kulbabu" />

  <arg name="use_ekf" default="false" />

  <group ns="$(arg ns)">

    <rosparam file="$(find kulbabu_control)/config/control_velocity.yaml" command="load" />

    <node name="controller_spawner"
      pkg="controller_manager"
      type="spawner" respawn="false"
      output="screen"
      args="joint_state_controller
        diff_drive_controller" />

    <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="screen">
      <param name="publish_default_velocities" type="bool" value="true" />
      <param name="publish_default_efforts" type="bool" value="true" />
    </node-->

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <param name="publish_frequency" type="double" value="30.0"/>
      <!--param name="tf_prefix" type="string" value="$(arg ns)"/-->
    </node>

    <node if="$(arg use_ekf)" pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find kulbabu_control)/config/localisation.yaml" />
    </node>

  </group>
</launch>
